
.container{
    margin: 0;
    padding: 0;
    /* margin-bottom: 80px; */
}


.navbars{
    width: 100%;

}

.navbars ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 6px;
    gap: 15px;
    font-size: 12px;
}

.navbars .active {
    /* background-color: red; */
    border-bottom: 3px solid yellow;
    /* color: violet; */
}

.navbars li {
    list-style: none;
}

/* .navbars li :hover{
    background-color: #fff;
} */

.navbar-link{
    text-decoration: none;
    color: rgb(150, 60, 60);

}


